@import "tailwindcss";

#Right {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE */
}

#Right::-webkit-scrollbar {
  display: none;              /* Chrome, Edge, Safari */
}

