/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Page background */
body {
  background-color: #1c1c1c;
  font-family: Arial, sans-serif;
}

/* Parent container */
.parent {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  gap: 20px;
}

/* Card */
.card {
  width: 250px;
  height: 300px;
  border-radius: 10%;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Top section */
.top {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* Top image */
.top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Button */
.top button {
  background-color: white;
  border: 1px solid #1c1c1c;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Icon background (for lucide or svg icons) */
.icon-bg {
  background-color: white;
}

/* Center content */
.center {
  height: 170px;
  margin: 10px 0;
  background-color: white;
  color: #1c1c1c;
  font-size: 14px;
display: flex;
flex-direction: column;
gap: 5px;
}

/* Bottom section */
.bottom {
  background-color: white;
  display: flex;
  justify-content: space-between;
  
}
.bottom button{
    background-color: rgb(0, 0, 0);
  border: 1px solid #ffffff;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tag{
  display: flex;
  gap: 20px;

}

.tag h4{
  border:1px solid #979494;
  padding: 4px;
  border-radius: 10px;
}
